.section-1{
    margin-top:80px;

    .inner{
        @include inner_box;
        
    }

    .flex-box{
        @include flex_box;
    }

    .info{
        width:47%;
        text-align: center;
        background-color: #fff;
        margin: 0 auto;

        img{
            width: 100%;
        }

        hr{
            width: 250px;
        }

        h5{
            margin-top: 20px;
        }

        h3{
            font-size: 25px;
            font-weight: 300;
        }

        p{
            text-align: left;
            color: $common-color;
            font-size: 14px;
            margin:30px;
            line-height:25px;
        }
        
        button{
            background-color: #fff;
            border: 3px solid #dfdfdf;
            padding:10px;
            width:115px;
            margin-bottom: 30px;
        }
    }

    @media only screen and (max-width:900px){
        margin-top:20px;

        .info{
            width:100%;
            text-align: center;
            background-color: #fff;
            margin: 0 auto;
            margin-bottom:40px;
    
            img{
                width: 100%;
            }
    
            hr{
                width:170px;
            }
    
            h5{
                margin-top: 20px;
            }
    
            h3{
                font-size: 25px;
                font-weight: 300;
            }
    
            p{
                text-align: left;
                color: $common-color;
                font-size:10px;
                margin:10px;
                line-height:15px;
            }
            
            button{
                background-color: #fff;
                border: 3px solid #dfdfdf;
                padding:8px;
                width:100px;
                font-size:10px;
                margin:20px 0;
            }

    }

}

}